body {
    background-image: url('../img/wild_oliva.png');
}

.field {
    padding-bottom:20px;
}

.modal-inner {
    width: auto;
    max-height: 100px;
}

input[type="password"], input[type="text"] {
    height: auto;
}

#teus-inner .btn{
    font-size: 10pt;
}

#selected-label > h3 {
    line-height: 20px;
    text-align: center;
    color: white;
}

@font-face {
    font-family: 'Anchor Steam';
    src: url('../img/Anchor Steam NF.ttf');
}

.jumbotron > h1{
    text-align: center;
    color:white;
/*
  font-family: 'Anchor Steam';
  */
}

#ch-user-container {
    padding-top: 30px;
    padding-right: 30px;
}

#teus {
    padding-top: 30px;
    background-image: url("../img/noun_project_8075.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 440px;
}

#teus-inner {
    padding-top: 40px;
}

.teu {
    margin-left: 10px;
    padding-bottom: 10px;
}

#importantButtons {
    padding-top:20px;
}
